div,
span,
p {
  font-size: 14px;
  word-break: break-all;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 6px;
  margin-block-end: 6px;
  word-break: break-all;
}

pre {
  white-space: break-spaces;
}